<form id="monster-importer" autocomplete="off" enctype="multipart/form-data">
<div class="form-group">
  <label for="monster-folder">Folder Name</label>
  <input type="text" id="monster-folder" name="monster-folder" placeholder="e.g. Angulotl Minions" />
</div>

<div class="form-group">
  <label for="monster-file">Select Monster Files</label>
  <input type="file" id="monster-file" name="monster-file" accept=".json" multiple />
</div>



<button type="button" id="import-button" class="dialog-button">Import</button>
</form>


